.contact-me-section {
  background-color: goldenrod;
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 450px;
}

.contact-section {
  grid-column: 1/2;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.contact-me {
  grid-column: 2/3;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.label {
  color: white;
}

.name {
  width: 400px;
  height: 30px;
  background-color: black;
  color: white;
}

#email {
  width: 400px;
  height: 30px;
  background-color: black;
  color: white;
}

#message {
  width: 600px;
  height: 150px;
  background-color: black;
  color: white;
}

.btns {
  display: flex;
  justify-content: center;
  align-items: center;
}

.list {
  list-style: none;
}

.input-btn {
  width: 150px;
  height: 40px;
  border-radius: 5px;
}

.input-btn:hover {
  background-color: red;
  color: white;
}

.email-me {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;
  font-size: 20px;
}

.email-add {
  text-decoration: none;
  color: white;
}

.email-add:hover {
  color: red;
}

.address {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;
  font-size: 20px;
}

.contact-me-header {
  text-align: center;
}