body {
  margin: 0;
  box-sizing: border-box;
}

.project-section {
  background-color: rgb(207, 202, 202);
  height: 1000px;
  display: flex;
  justify-content: center;
  align-items: baseline;
  flex-wrap: wrap;
}